@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./scroll.scss";
@import "./mySet.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

a {
  text-decoration: none;
  color: #333;
}

html,body,#app {
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}
#app {
  position: relative;
}
body {

  color: rgb(210,210,210);
  background: #1b1b1f;
  line-height: 1.6;
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.drag{
  -webkit-app-region: drag;
}

// .body {
//   height: calc(100% - 60px);
//   padding-bottom: 130px;
//   overflow: hidden;
//   overflow-y: auto;
//   width: 100%;
//   display: flex;
//   align-content: baseline;
//   flex-direction: column;
//   .top {
//     margin-bottom: 20px;
//   }
//   .bottom {
//     //height: 80px;
//     //width: 100%;
//   }
//   .padding-container {
//     padding: 0 50px;
//     padding-bottom: 30px;
//   }
// }





